<div class="page">
   <h2>Major frameworks and NPM registry</h2>
   Tens of frameworks arrived and went, some of them worth mentioning and talking a bit about are:-
   <ul>
      <li>React</li>
      <li>Angular</li>
      <li>Vue.js</li>
      <li>Svelt</li>
   </ul>
   Every year a developer survey is conducted on the frontend frameworks, their usage, the salary and the reach of the framework across globe.
   The statistics can be found in <a href="https://2021.stateofjs.com/en-US/libraries/front-end-frameworks/">State of js</a>
   <div class="center">
      <img src="assets/images/Screenshot 2022-10-27 at 10.21.39 PM.png" alt="stateofjs">
   </div>
   <h3>NPM Registry</h3>
   <p>Relied upon by more than 11 million developers worldwide, npm is committed to making JavaScript development elegant, productive, and safe. The free npm Registry has become the center of JavaScript code sharing, and with more than one million packages, the largest software registry in the world. Our other tools and services take the Registry, and the work you do around it, to the next level.</p>
   <h3>References</h3>
   <a href="https://www.npmjs.com/">npm</a>
   <br>
   <a href="https://reactjs.org/">React</a>
   <br>
   <a href="https://angular.io/">Angular</a>
</div>
