<div class="page">
   <h2>Tools</h2>
   <h3>Editor</h3>

   <p><b>Recommended:</b> Visual Studio Code</p>
   <p>VScode is one the best IDEs for frontend development, it comes with rich plugins and extenstions. 
      I have been using this since alst 5 years and never looked for another option.</p>

   <p><b>Sublime Text:</b> I used this editor for years. Similar in style to VS Code. Also has a great ecosystem and is a fast editor.</p>
   <p><b>WebStorm:</b>Sublime and VS Code's MO is more "here's a useful editor and not much more" whereas WebStorm is much "here's a useful editor and the kitchen sink". Whereas with VS Code you will likely install a few plugins to get everything you need, WebStorm will likely ship already with everything you need. You'll need to decide which approach suits you better.</p> 
   <p><b>vim and emacs:</b> Don't use these,I personally recommend using an IDE which makes your life easier than using these terminal editors and end up spending more time in typing.</p>


   <h3>In-Browser Code Editor</h3>
   <p>In this course we will use CodePen a few times. It's an in-browser code editing experience and it makes it easy for you to learn. I suggest you head here and sign up for a free account so you fork the assignments to your own CodePen and you can refer to them later.</p> 
   <p>We will also use <b>Stackblitz</b> which is an online IDE which comes with all the pre-installed dependecies to develop Angular applications. The look and feel of this editor is mostly like VS code.</p>

   <h3>References</h3>
   <a href="https://code.visualstudio.com/">Visual studio code</a>
   <br>
   <a href="https://www.sublimetext.com/">Sublime</a>
   <br>
   <a href="https://www.jetbrains.com/webstorm/">Webstorm</a>
   <br>
   <a href="https://codepen.io/">Codepen</a>
   <br>
   <a href="https://stackblitz.com/">Stackblitz</a>
</div>