<div class="page">
   <h2>CSS</h2>
   <p>Cascading Style Sheets (CSS) is a stylesheet language used to describe the presentation of a document written in HTML. 
      CSS describes how elements should be rendered on screen, Like HTML, CSS is not a programming language. 
      It's not a markup language either. CSS is a style sheet language. CSS is what you use to selectively style HTML elements.</p>
   <h3>Inline Styling</h3>
   <p>   Inline style is a way of writing css inside the HTML tag using style attribute.
      Almost every tag in HTML comes with style attribute which lets us write the css for that element in that tag itself.
   <br>
   Though, it sounds easy and there, it makes the code clumsy over a period of time as and when the code grows. It is adviced to reduce this type of usage.
   </p>
   <h3>Classes</h3>
   <p>HTML elements come with class attribute which allows us to add one or more classe(s) to the element and write the respective styles in a css file which is attached to the HTML page.
      Along with classes, we can also write css for tags directly or using ids specified in the HTML page. Recomended one is to make use of classes as it can be re-used in multiple places.
   </p>
   <h3>libraries</h3>
      To make the CSS more intelligent, there are some libraries such as LESS and SASS which makes writing CSS more fun.
      We can have variables, functions and more when we use one of these libraries to make the code more re-usable and scalable.
      <br>
      Classes solve the reusability at element level, wherein, these libraries take it to property level.
   <h3>Css in JS</h3>
   This is a concept used in React framework majorly, where the CSS is written in Javascript than in HTML or CSS.
   <h3>References</h3>
   <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN</a>
   <br>
   <a href="https://css-tricks.com/">CSS tricks</a>
   <br>
   <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS">learn to Style</a>
   <br>
   <a href="https://www.codecademy.com/learn/learn-css">Codecademy</a>

</div>
