<div class="page">
   <h2>BUILDING BLOCKS</h2>
   <p>There are three key blocks involved in building a web page, they are HTML, CSS and Javascript.</p>
   <p>Ideally, nothing else runs on the browser and nothing else you need to know to build web sites or web applications.</p>
   <p>Website is a simple static page with no interaction, whereas, 
      Web application is a complete package of information and human interaction like form submission.</p>
   <p>Let us think of building an electric car, which will need a body, color and shape, and the motor with connection to wheels. 
      If we go with this analogy, HTML becomes the base building body, CSS is responsible for shape and colors of the car, and Javascript is the core of functional aspects</p>
   <div class="center">
      <img src="../../assets/images/html-css-javascript-2.jpg" alt="Building blocks">
   </div>
   <h3>References</h3>
   <a href="https://www.khanacademy.org/computing/computer-programming/html-css">Intro to HTML/CSS</a>
</div>