<div class="page">
   <h2>BUILDING BLOCKS</h2>
   <p>There are three key blocks involved in building a web page. Let us think of an example of building an electric Car.</p>

   <h3>HTML</h3> 
   <h3>CSS</h3>
   <h3>Javascript</h3>
   <h3>References</h3>
   <a href="https://code.visualstudio.com/">Visual studio code</a>
   <br>
   <a href="https://www.sublimetext.com/">Sublime</a>
   <br>
   <a href="https://www.jetbrains.com/webstorm/">Webstorm</a>
   <br>
   <a href="https://codepen.io/">Codepen</a>
   <br>
   <a href="https://stackblitz.com/">Stackblitz</a>
</div>