<div class="page">
   <h2>Welcome</h2>
   <h3>Who is this session for / Prerequisites</h3>
   <p>This session is teach you how to code. You do not need to know anything about coding previous to this session.</p>
   <p>You should have some familiarity with computers and the Internet.</p>
   <p>This session will teach you HTML, CSS, and JavaScript. All three are necessary components to start making modern web apps. If you need help in any of these categories, this session should be helpful. If already know how to code (like C++ or Java) and want to veer more into frontend development, this session will also be helpful.</p>


   <h3>Who am I?</h3>
   <p>My name is Shyam Kumar, Principal software engineer working on frontend and mobile development platforms from the last nine years.</p>
   <h3>References</h3>
   <a href="https://internetfundamentals.com/">Fundamentals of internet</a>
</div>

