<div class="page">
   <h2>Welcome</h2>
   <h3>Who is this series for / Prerequisites</h3>
   <p>This series is to teach you how to develop web apps. You do not need to know anything about frontend languages previous to this series.</p>
   <p>You should have some familiarity with computers and the Internet.</p>
   <p>This series will teach you HTML, CSS, and JavaScript. All three are necessary components to start making modern web apps. 
      If you need help in any of these categories, this series and the references should be helpful. 
      If you already know how to code (like Java or python) and want to veer more into frontend development, 
      this series will also be helpful.</p>

      <p>If you think, you're well aware of the basics of web development then you can skip this.</p>

   <h3>Who am I?</h3>
   <p>My name is Shyam Kumar, Principal software engineer working on frontend and mobile development platforms from the last nine years.</p>
   <p>I love to code, teach, and share the knowledge, 
      I also work as part of a NPO named <a href="https://www.mentorswithoutborders.net/">Mentors without Borders</a>, 
      where we teach programming to anyone who is interested by connecting to local NGOs from different parts of the world.</p>
      <p>You can find more details about me here <a href="https://web-worker.in/">My website</a></p>
   
   <h3>Expectations</h3>
   <p>
      Okay, so let's set some expectations.
      This course is hard. It's frustrating. You are going to hit the wall, multiple times. That's okay. 
      It's expected. Do not get down on yourself.
      <br>
      Very importantly, DO NOT COMPARE YOURSELF TO OTHERS.
   </p>

   <h4>This session is inspired by <a href="https://frontendmasters.com/courses/web-development-v3/">Brian holt's course on Frontend masters</a></h4>
   <h3>References</h3>
   <a href="https://internetfundamentals.com/">Fundamentals of internet</a>
</div>

