<div class="page">
   <h2>HTML</h2>
   <h3>What is HTML?</h3>
   Hypertext Markup Language, is a combination of tags which has semantic meaning and will construct a webpage accordingly.
   HTML tags are simple instructions that tell a web browser how to format text. You can use tags to format italics, line breaks, objects, bullet points, and more. 
   These tags live in the HTML of every webpage.
   <h3>How Do Web Pages Read HTML Tags?</h3>
   <div>
      Browsers read HTML code to understand and render content. It will read the HTML from top to bottom, much like how you’re reading this guide. 
      You can use as many or as few tags as you like to format content. However, there are a few essential HTML tags and rules you’ll need to follow. 
      <p>An HTML tag must contain three parts:</p>
      <ol>
         <li>"An opening tag — this will start with a &lt; &gt; symbol"</li>
         <li>Content — the short instructions on how to display the on-page element</li>
         <li>A closing tag — this will end with a code &lt; / &gt;  symbol</li>
         <li>However, some HTML tags can be unclosed. That means that the HTML tag does not need to be closed with a&lt; / &gt;. You’ll typically use unclosed tags for metadata or line breaks.</li>
      </ol>
   </div>
   <h3>Attributes</h3>
   <p>Along with tag neames, we also get to pass the customisations allowed by HTML through the attributes.</p>
   <ul>
      <li>All HTML elements can have attributes</li>
      <li>Attributes provide additional information about elements</li>
      <li>Attributes are always specified in the start tag</li>
      <li>Attributes usually come in name/value pairs like: name="value"</li>
   </ul>
   <div class="center">
      <img src="assets/images/building-blocks-of-html-1.jpg" alt="html tag">
   </div>
   <h3>Common tags</h3>
   <b><u> Underline Tag </u></b>
   Here the <u> and </u> are the HTML tags and “Underline Tag” is the HTML element, i.e. the on page text. 

   This tag will format any text between the opening tag and the closing tag as underlined.
<br>
<br>
   <b><u> Italic Tag </u></b>
   Here, the and are the HTML tags and “Italic Tag” is the HTML element (the on-page text.)

   This tag will format any text between the opening tag and the closing tag as italic.
<br>
<br>
   <b><u> Bold Tag </u></b>
   Here the and are the HTML tags and “Bold Tag” is the HTML element, i.e. the on page text. 

   This tag will format any text between the opening tag and the closing tag as bold.
<br>
<br>
   <b><u> Heading Tag </u></b>
   In this example, and are the HTML tags and “Heading Tag” is the HTML element, i.e. the on-page heading. 

   Using this tag will format any text between the opening tag and the closing tag as a Heading 2 (a type of subheading.) 
<br>
<br>
   <b><u> Paragraph Tag </u></b>
   The and are the HTML tags and “Paragraph Tag” is the HTML element, i.e. the on-page text. 

   This tag formats any text between the opening tag and the closing tag as a standard paragraph or main body text.
   <h3>References</h3>
   <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">MDN</a>
</div>