<div class="page">
   <h2>Javascript</h2>
   <p>JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, 
      many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat. JavaScript is a prototype-based, multi-paradigm, 
      single-threaded, dynamic language, supporting object-oriented, imperative, and declarative (e.g. functional programming) styles. </p>
      <p>JavaScript runs on the client side of the web, which can be used to design / program how the web pages behave on the occurrence of an event.
      JavaScript is an easy to learn and also powerful scripting language, widely used for controlling web page behavior.</p>

      <h3>Datatypes</h3>
      <ul>
         <li>Number: used for all number values (integer and floating point) except for very big integers.</li>
         <li>BigInt: used for arbitrarily large integers.</li>
         <li>String: used to store text.</li>
         <li>Boolean: true and false — usually used for conditional logic.</li>
         <li>Symbol: used for creating unique identifiers that won't collide.</li>
         <li>Undefined: indicating that a variable has not been assigned a value.</li>
         <li>Null: indicating a deliberate non-value.</li>
      </ul>
      <h3>Functions</h3>
      <p>Functions aren't special data structures in JavaScript — they are just a special type of object that can be called.
         They are not much different from functions/methods in other programming language.
      </p>
      <b>Don't underestimate the language as it is more vulnerable compared to other languages, it actually has the capability to solve many unfounds, like this -> <br> let mystery = [ '🥚' , '🐓' ].sort()</b>
      <br>
      <br>
      <i>Of course, Of course, I will stop here. It's a programming language and we cannot cover it that simple, hence the best references for learning.</i>
      <h3>References</h3>
      <a href="https://exploringjs.com/es5/">Speaking Javascript</a>
      <br>
      <a href="https://exploringjs.com/impatient-js/downloads/impatient-js-preview-book.pdf">Javascript for impatient programmers</a>
      <br>
      <a href="https://blog.sessionstack.com/how-javascript-works-memory-management-how-to-handle-4-common-memory-leaks-3f28b94cfbec">How Javascript works</a>
</div>
